*
!.gitignore
!/bin/
!/bin/**
!/.config/
!/.config/envman/
!/.config/envman/ENV.env
!/.config/envman/alias.env
!/.config/envman/functions.sh
!/.config/envman/functions.fish
!/.config/fish/
!/.config/fish/config.fish
!/.profile
!/.psqlrc
!/.config/psql/
!/.config/psql/psqlrc
